---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100">
		<header class="h-[5rem] bg-slate-100 ">
			<div class="max-w-5xl mx-auto pt-6">
				<div class="flex justify-between">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
						  </svg>
						  
					</div>
					<div class="list-none flex justify-stretch ">
						<li class="ml-10">Services</li>
						<li class="ml-10">Product</li>
						<li class="ml-10">About</li>
						<li class="ml-10">BLog</li>
						<li class="ml-10">Login</li>
						<a class="ml-10 h-7 w-24 bg-orange-600 border-[2px] border-blue-900 px-2 shadow-md shadow-slate-900">Book a cat</a>
					</div>
				</div>
			</div>
			
		</header>
		<div class="h-[20rem] bg-slate-200 pt-6">
			<div class="max-w-5xl mx-auto">
				<h1 class="text-center text-5xl font-bold ">Expert Squarespace Design <br>and Development</h1>
				<p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere maiores
					 ratione saepe cum quos laboriosam voluptatem dolorum, eaque minus non incidunt deserunt,
					  magni eius. Modi nesciunt at doloremque harum vero.</p>
					  <div class="flex justify-center mt-5">
						<button class="bg-orange-600 h-8 w-28 border-[1px] border-black">Book a cat</button>
					  </div>
					  <div class="flex justify-between list-none mt-5">
						<li class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
						  </svg>
						  lovely Design</li>
						<li>lovely Design</li>
						<li>lovely Design</li>
					  </div>
			</div>

		</div>
		<div class="h-[20rem] bg-slate-300 pt-6">
			<div class="max-w-5xl mx-auto">
				<h1 class="text-center text-5xl font-bold ">Why Should You Hire Our <br>Squarespace Experts?</h1>
				<p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere maiores
					 ratione saepe cum quos laboriosam voluptatem dolorum, eaque minus non incidunt deserunt,
					  magni eius. Modi nesciunt at doloremque harum vero.</p>
					  
					  <div class="flex justify-between list-none mt-5">
						<div>
							<div class="flex justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
								  </svg>
							</div>
							  
							<h2 class="text-center">Expertise</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque saepe sunt</p>
						</div>
						<div>
							<div class="flex justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
								  </svg>
							</div>
							<h2 class="text-center">Scalability</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque saepe sunt</p>
						</div>
						<div>
							<div class="flex justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
								  </svg>
							</div>
							<h2 class="text-center">Support</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque saepe sunt</p>
						</div>
					  </div>
			</div>

		</div>
		<div class="h-[18rem] bg-slate-300 ">
			<div class="pt-8">
				<div class="max-w-5xl mx-auto bg-slate-200 h-[10rem]">
					<p class="text-center pt-8">Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. 
						Incidunt perferendis consequatur obcaecati <br>, eaque hic omnis itaque sed expedita 
						repellendus amet ipsam <br> saepe suscipit nihil, ab nam assumenda totam repudiandae at.</p>
						
	
				</div>
				<div class="flex justify-center">
					<button class="bg-orange-600 h-8 w-24 mt-6 border-[1px] border-black shadow-md shadow-black">Book a cat</button>
				</div>
			</div>
			


		</div>
		<div class="h-[40rem] bg-slate-400 ">
			<div class="max-w-5xl mx-auto">
				<div class="text-center">
					<h1 class="text-5xl font-bold">Top Rated Squarespace Designers <br> and Developers</h1>
					<p class="pt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis perferendis illo minus 
						perspiciatis cupiditate atque vitae saepe laborum voluptas tempora,
						ipsa iste, ducimus deserunt reiciendis repellat fugiat. Velit, porro vitae?</p>
				</div>
				<div class="flex justify-center">
					<div class="flex justify-stretch pt-8">
						<img  class="h-40 w-60 " src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/bb/80/c1/foto-simon-bosch.jpg?w=600&h=-1&s=1" alt="">
						<img  class="h-40 w-60 ml-6" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/bb/80/c1/foto-simon-bosch.jpg?w=600&h=-1&s=1" alt="">
						<img  class="h-40 w-60 ml-6" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/bb/80/c1/foto-simon-bosch.jpg?w=600&h=-1&s=1" alt="">
			    </div>		
					</div>
				<div class="flex justify-center">
					<div class="flex justify-stretch pt-8">
						<img  class="h-40 w-60 " src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/bb/80/c1/foto-simon-bosch.jpg?w=600&h=-1&s=1" alt="">
						<img  class="h-40 w-60 ml-6" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/bb/80/c1/foto-simon-bosch.jpg?w=600&h=-1&s=1" alt="">
						<img  class="h-40 w-60 ml-6" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/bb/80/c1/foto-simon-bosch.jpg?w=600&h=-1&s=1" alt="">
			    </div>		
					</div>
					
				

				
				
			</div>
		</div>
		<div class="h-[18rem] bg-slate-300 ">
			<div class="pt-8">
				<div class="max-w-5xl mx-auto bg-slate-200 h-[15rem]">
					<p class="text-center pt-8">Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. 
						Incidunt perferendis consequatur obcaecati <br>, eaque hic omnis itaque sed expedita 
						repellendus amet ipsam <br> saepe suscipit nihil, ab nam assumenda totam repudiandae at.</p>
						
	
				</div>
				
			</div>
			


		</div>
		
		



		<!-- <header class="bg-slate-50 h-20 border-[2px] border-black">
			
			<div class="bg-slate-50 pt-6 max-w-3xl mx-auto" >
				<div class="flex justify-between">
					<div class="">
						<h2 class="text-black">H.Phone</h2>
						</div>
					   <div class="flex justify-between ">
						<li class="list-none ml-4 font-bold text-xs text-blue-600">Home</li>
						<li class="list-none ml-4 text-xs ">Shop</li>
						<li class="list-none ml-4 text-xs">Product</li>
						<li class="list-none ml-4 text-xs">Blog</li>
						<li class="list-none ml-4 text-xs">Contact</li>
					   </div>
						<div class="flex">
							<svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 117.4L109.1 192l293.8 0-26.1-74.6C372.3 104.6 360.2 96 346.6 96L165.4 96c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32l181.2 0c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2l0 144 0 48c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-48L96 400l0 48c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-48L0 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
							<!-- <svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
						<!-- </div> -->
				<!-- </div>
			</div> -->
			
		<!-- </header> -->
		<!-- <div class="bg-slate-50 h-[20rem] max-w-3xl mx-auto mt-6 rounded-2xl border-[2px] border-black shadow-2xl shadow-gray-800">
			<div class="flex justify-stretch ">
				<div class="bg-slate-50 w-[25rem] flex justify-center pt-10 mt-3">
					
					<img class="h-64 w-[18rem]" src="https://www.cqnetcr.com/105467-thickbox_default/audifonos-apple-airpods-pro-inalambricos-bluetooth.jpg" alt="">
	
				</div>
				<div class="bg-slate-50 w-[25rem] pt-10 ml-8 mt-3">
					<h1>APPLE AIRPODS</h1>
					<h2>3rd Generation</h2>
					<p>dasdasdasdasdasdasdasdasdaddasdad</p>
	
				</div>
	
			</div>
		</div>
		<div class="bg-[url(https://www.revistaeconomia.com/wp-content/uploads/2022/01/productos-tecnol%C3%B3gicos-Revista-Economia.gif)] bg-[length:100%_100%] bg-no-repeat bg-center  bg-slate-900 h-[25rem] mt-5">

		</div>
		<div class="bg-slate-700 h-[10rem]">

		</div>  -->
		 
	</body>
</html>

