---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100">
		<header class="bg-slate-50 h-20 border-[2px] border-black">
			
			<div class="bg-slate-50 pt-6 max-w-3xl mx-auto" >
				<div class="flex justify-between">
					<div class="">
						<h2 class="text-black">H.Phone</h2>
						</div>
					   <div class="flex justify-between ">
						<li class="list-none ml-4 font-bold text-xs text-blue-600">Home</li>
						<li class="list-none ml-4 text-xs ">Shop</li>
						<li class="list-none ml-4 text-xs">Product</li>
						<li class="list-none ml-4 text-xs">Blog</li>
						<li class="list-none ml-4 text-xs">Contact</li>
					   </div>
						<div class="flex">
							<svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 117.4L109.1 192l293.8 0-26.1-74.6C372.3 104.6 360.2 96 346.6 96L165.4 96c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32l181.2 0c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2l0 144 0 48c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-48L96 400l0 48c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-48L0 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg>
							<svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
						</div>
				</div>
			</div>
			
		</header>
		<div class="bg-slate-50 h-[20rem] max-w-3xl mx-auto mt-6 rounded-2xl border-[2px] border-black shadow-2xl shadow-gray-800">
			<div class="flex justify-stretch ">
				<div class="bg-slate-50 w-[25rem] flex justify-center pt-10 mt-3">
					
					<img class="h-64 w-[18rem]" src="https://www.cqnetcr.com/105467-thickbox_default/audifonos-apple-airpods-pro-inalambricos-bluetooth.jpg" alt="">
	
				</div>
				<div class="bg-slate-50 w-[25rem] pt-10 ml-8 mt-3">
					<h1>APPLE AIRPODS</h1>
					<h2>3rd Generation</h2>
					<p>dasdasdasdasdasdasdasdasdaddasdad</p>
	
				</div>
	
			</div>
		</div>
		<div class="bg-[url(https://www.revistaeconomia.com/wp-content/uploads/2022/01/productos-tecnol%C3%B3gicos-Revista-Economia.gif)] bg-[length:100%_100%] bg-no-repeat bg-center  bg-slate-900 h-[25rem] mt-5">

		</div>
		<div class="bg-slate-700 h-[10rem]">

		</div>
		
	</body>
</html>

